nav {
  background: rgba(51, 51, 51, 0.5);
  font-family: 'Raleway', sans-serif;
}

body {
  text-align: center; 
  margin: 0 auto; 
  background-image: url('./img/background.jpg');
  background-attachment: fixed;
  background-size: cover; 
  color: white; 
  font-family: 'Raleway', sans-serif;
}

.link {
  text-decoration: none; 
  color: white; 
  text-align: left;
  padding: 10px 20px; 
}

.home{
  background: rgba(51, 51, 51, 0.5);
  margin: 50px 0; 
  padding: 50px; 
}


.button {
  background-color: #00A17B; 
  width: 250px;
  height: 40px; 
  margin: 20px; 
  font-family: 'Raleway', sans-serif;
  font-size: 20px; 
  color: white; 
  font-weight: 600; 
}

.button:hover {
  background-color: slategray;
  transform: scale(1.1);
}

h2 {
  font-size: 75px;
}

h4 {
  font-size: 40px;
}

.map {
  text-align: center;
  margin: 0 auto; 
}


.image {
  max-height: 900px;
  max-width: 700px;
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.informationContainer{
border:  1px solid black;
  

}
.locationcontainer{
border: 1px solid black;
background-color: rgba(255, 255, 255, 0.5);
font-weight: bolder;
}
.riskContainer{
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bolder;

}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
